@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    position: relative;
    background-color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(https://images8.alphacoders.com/944/944311.jpg);
    background-size: cover;

}

.container{
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

.header_head{
    background-color: white;
    position: relative;
    background-color: #191A1B;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inner #aba{
    border: 3px dotted #00CFC1;
}

.header_inner #aba1 {
    color: #00CFC1;
}
.header_inner #aba1:hover{
    font-size: 25px;
}
.header_inner #aba2{
    color: #00CFC1;
}
.header_inner #aba2:hover{
    
}
.header_inner #aba3{
    color: #00CFC1;
}
.header_inner #aba3:hover{
    
}

.logo{
    font-weight: solid;
    font-size: 40px;
    color: #00CFC1;
    border-radius: 10px;
}
.logo:hover{
    font-size: 35px;
    opacity: 40%;
}

.header_inner nav ul{
    display: flex;
    align-items: center;
}

.header_inner nav ul li{
    list-style-type: none;
}

.header_inner nav ul li a{
    font-size: 15px;
    color: #00CFC1;
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.Home{
    width: 100%;
    height: 427px;
    background-color: #7E8182;
}

.Home img{
    position: absolute;
    width: 220px;
    margin-left: 1300px;
}

.Home h1{
    color: #14A7BC;
    position: absolute;
    font-size: 90px;
    margin-top: 110px;
    margin-left: 170px;
}

.Home h3{
    position: absolute;
    font-size: 25px;
    margin-top: 240px;
    margin-left: 170px;

}

.Home p{
    position: absolute;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 700px;
}

.Home #is{
    position: absolute;
    font-size: 30px;
    margin-top: 280px;
    margin-left: 740px;
    border: 2px solid white;
    border-radius: 20em;
    transition: 0.3s ease;
    color: white;
    
}
.Home #is:hover{
    background-color: rgba(15, 9, 49, 0.822);
    
}

.Home #fc{
    position: absolute;
    font-size: 30px;
    margin-top: 280px;
    margin-left: 790px;
    border: 2px solid white;
    border-radius: 15em;
    transition: 0.3s ease;
    color: white;
}
.Home #fc:hover{
    background-color: rgba(15, 9, 49, 0.822);
}

.Home #li{
    position: absolute;
    font-size: 30px;
    margin-top: 280px;
    margin-left: 840px;
    border: 2px solid white;
    border-radius: 20em;
    transition: 0.3s ease;
    color: white;
}
.Home #li:hover{
    background-color: rgba(15, 9, 49, 0.822);
}

.Home #tg{
    position: absolute;
    font-size: 30px;
    margin-top: 280px;
    margin-left: 890px;
    border: 2px solid white;
    border-radius: 20em;
    transition: 0.3s ease;
    color: white

}
.Home #tg:hover{
    background-color: rgba(15, 9, 49, 0.822);
}

.works{
    margin-top: 100px;
    text-align: center;
}

.container{
    margin-top: 50px;
    display: block;
}

.row{
    display: flex;
    justify-content: space-between;
}

.Home h1 span{
    color: #191A1B;
}
.Home #blutex{
    color: #FFFFFF;
}
.works h1{
    background-color: #14A7BC;
    border-radius: 100px;
}
.card-body{
    color: #FFFFFF;
    background-color: #14A7BC;
    border-radius: 200px;

}
.card-body:hover{
    color: #14A7BC;
    background-color: #FFFFFF;
    opacity: 60%;
}
.card-title{
    font-size: 25px;
}
.card-text{
    font-size: 25px;
}